body {
  margin: 0;
  padding: 0;
  font: 1em/1.5em "Open Sans", sans-serif;
  background-color: #330077;
  color: white;
}

a {
  color: #00aeef;
  text-decoration: none;
  font-weight: bold;
}

header {
  text-align: center;
  padding: 2rem, 2rem, 2rem, 1rem;
}

header p:nth-child(1) {
  font-weight: bold;
  font-size: 2rem;
  margin: auto, 20px, auto, auto;
  padding: 2rem, 2rem, 2rem, auto;
}

header p:nth-child(2) {
  margin: .5rem 0 0;
  letter-spacing: .2em;
  text-transform: uppercase;
  letter-spacing: .2em;
  font-family: "Covered By Your Grace", cursive;
}

nav a:{
	padding: 20px;
	margin: 20px 20px auto 20px;
}

nav a:link{
	color: white;
}

nav a:visited{
	color: white;
}

nav a:hover{
	color: white;
	font-size: 125%;
}

main {
  background-color: white;
  color: black;
  padding: 2rem 0 4rem;
  width:100%;
  margin: auto;
  
}

h1 {
  font-family: "Covered By Your Grace", cursive;
  font-size: 4rem;
  text-align: center;
}

h2{
	font-family: "Covered By Your Grace", cursive;
}

main img {
  display: block;
  width: 12rem;
  max-width: 60%;
  margin: auto;
  height: auto;
  border-radius: 50%;
}

main p {
  width: 30rem;
  max-width: 70%;
  margin: 0 auto 1rem;
  margin: auto;
}

main p ul {
  width: 70%;
  margin: 0 auto 1rem;
  margin: auto;
}

main p ul li h2{
  width: 70%;
  margin: 0 auto 1rem;
  margin: auto;
}

main p ul li ul {
  width: 70%;
  margin: 0 auto 1rem;
  margin: auto;
 }

.social {
  list-style: none;
  margin: 1rem auto 0;
  padding: 0;
  width: 15rem;
  max-width: 80%;
}

.social li {
  margin: 0;
  padding: 0;
}

.social li a {
  display: block;
  position: relative;
  padding-left: 3rem;
  line-height: 2rem;
  vertical-align: middle;
  color: #999;
  transition: color 0.2s ease;
}

.social li a:hover {
  color: #00aeef;
}

.social li a::before {
  position: absolute;
  left: 0;
  top: 0;
  width: 1em;
  height: 1em;
  font: normal 2rem/1em "FontAwesome";
}

.social li a[rel="github"]::before { content: '\f09b'; }
.social li a[rel="home"]::before { content: '\f015'; }
.social li a[rel="twitter"]::before { content: '\f099'; }

footer {
  margin: 0;
  padding: 1rem 0 4rem;
  text-align: center;
}

footer img {
  height: 2rem;
  width: auto;
  margin: 2px 3px;
  float: left;
  
}

footer p {
	width: 25%;
	margin: 0 1rem;
	float: right;
	font-size: 8px;
}